@import "src/app/styles/component";

.character-trait__content {
  @include data-cell;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid palette("nowhite");

  p:last-child {
    text-transform: capitalize;
  }

  @include max-screen(breakpoint("lg", "max")) {
    width: unset;

    margin: 0;
    padding: 0 1rem;
  }
}

.character-trait__content__value.only-value {
  color: palette("light") !important;
}
