@import 'src/app/styles/component';

.grid-layout-separation__container {
  display: flex;

  &__first-side {
    width: 100%;
    max-width: get-var('layout', 'left-side');
    height: calc(100vh - #{get-var('nav', 'height')});
    border-right: 1px solid #eee;

    overflow-y: hidden;
  }

  &__last-side {
    width: 100%;
  }
}
