<div 
  class="characters-list__container" 
  swScrollControl 
  (triggerRequest)="requestMoreCharacters()"
>
  <sw-characters-cell 
    *ngFor="let character of characters"
    [character]="character"
    [isSelected]="selectedCharacterId === character.id"
    (characterSelected)="onCharacterSelected($event)"
  ></sw-characters-cell>

  <sw-button *ngIf="!isLoading && canLoadMore" (click)="requestMoreCharacters()">
    Get more characters
  </sw-button>
  <sw-loading-bar *ngIf="isLoading && !isError"></sw-loading-bar>
  <sw-warning *ngIf="isError">Failed to Load Data</sw-warning>
</div>
